<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Profile 1</h2>
            <p> "Hello I am Sagar Thapa; I am a developer and designer currently residing in Oxford . I am currently
                looking for
                opportunity to enhance my programming,
                analytical, creative and problem solving skills and pursue my career in the competitive world of web
                based
                application development."</p>
            <h2>Profile 2</h2>
            <p> "Hello I am Sagar Thapa; I am a developer and designer currently residing in Oxford . I am currently
                looking for
                opportunity to enhance my programming,
                analytical, creative and problem solving skills and pursue my career in the competitive world of web
                based
                application development."</p>
            <h2>Profile 3</h2>
            <p> "Hello I am Sagar Thapa; I am a developer and designer currently residing in Oxford . I am currently
                looking for
                opportunity to enhance my programming,
                analytical, creative and problem solving skills and pursue my career in the competitive world of web
                based
                application development."</p>
        </div>
    </div>
</div> -->
