<!-- <div class="text-white bg-dark">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" aria-current="page" href="#">About</a>
            <a class="nav-link" href="/portfolio">Portfolio</a>
            <a class="nav-link" href="#">SkillSet</a>
            <a class="nav-link" href="#">Contact Me</a>
          </nav>

      </header>
    
      <main class="px-3">
        <h1> Hi I am Sagar Thapa </h1>
        <h1>I am a Full Stack Software Developer</h1>
        <p class="lead">I have a passion for details.<br> I strive to develop & design applications that creates value</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
        </p>
      </main>
    </div>
  </div> -->
  <router-outlet></router-outlet>