<div class="text-white bg-dark">
  <!-- Header with menu -->
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <nav [ngClass]="onScroll==true?'nav-masthead-scroll':'nav-masthead'" class="nav fixed-top justify-content-center" id="navbar">
        <a [ngClass]="activeMenu=='top' ? 'active' : ''" class="nav-link" aria-current="page" (click)="goToSection('top')">About</a>
        <a [ngClass]="activeMenu=='portfolio-header' ? 'active' : ''" class="nav-link" (click)="goToSection('portfolio-header')">Portfolio</a>
        <a [ngClass]="activeMenu=='skillset' ? 'active' : ''" class="nav-link" (click)="goToSection('skillset')">SkillSet</a>
        <a [ngClass]="activeMenu=='contactme' ? 'active' : ''"class="nav-link" (click)="goToSection('contactme')">Contact Me</a>
      </nav>
    </header>

    <main class="px-3" id="top">
      <h1> Hi I am Sagar Thapa </h1>
      <h1>I am a Full Stack Software Developer</h1>
      <p class="lead">I have a passion for details.<br> I strive to develop & design applications that creates real value.</p>
      <p class="lead">
        <button class="btn btn-lg btn-secondary fw-bold border-white bg-white" (click)="goToWork()">View my work</button>
      </p>
    </main>
  </div>
</div>
<div class="container" id="page-details" >
  <!-- Who section-->
  <div class="row" id="intro">
    <div class="col-md-4">
      <h4><span class="material-icons icon">
          perm_identity
        </span>Who I Am </h4>
      <p> "Hello I am Sagar Thapa. I have 8+ years of experience as a full stack Software Developer. I always look
        for opportunity to enhance my programming,
        analytical, creative and problem solving skills and pursue my career in the competitive world of web
        application development."</p>
    </div>
    <div class="col-md-4">
      <h4><span class="material-icons icon">
          home_repair_service
        </span> What I Do</h4>
      <p> I enjoy working with all layers of stack.
        I love building state of art, user friendly efficent websites using both front-end and back-end technologies
        with minute details and presicion.</p>
    </div>
    <div class="col-md-4">
      <h4> <span class="material-icons icon">
          favorite_border
        </span>What I Love </h4>
      <p>I am passionate about learning innovative and creative technologies.
        I thrive on understanding new concepts and ideas in order to enhance my skills.</p>
    </div>
  </div>
     <!-- Skill sets section-->
    <div class="row">
      <h4  id="skillset"><span class="material-icons">
          construction
        </span> What I Know</h4>
      <div class="col-md-4">
        <p>In my journey of 8+ years of software development I have come across various projects which required me to learn and use different tools and frameworks. 
          This <strong>Skill graph </strong>shows my level of expertise on various technologies.
        </p>
        <p>
          Additionally I also have sound knowledge working in Agile  Environment using TDD, Git for version control, Team City for continuous integration and deployment.
        </p>
      </div>
      <div class="col-md-8">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0"
            aria-valuemax="100"> C#</div>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
            aria-valuemax="100">ServiceStack</div>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
            aria-valuemax="100">Angular / Javascript </div>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
            aria-valuemax="100">HTML/CSS</div>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
            aria-valuemax="100">SQL</div>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
            aria-valuemax="100">Ionic Framework</div>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
            aria-valuemax="100">Android Development</div>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
            aria-valuemax="100">Firebase Hosting</div>
        </div>
      </div>
    </div>
     <!-- Portfolio section-->
    <div class="col-md-10" id="portfolio" >
      <h3 id="portfolio-header" >PORTFOLIO</h3>
      <p>Following are the list of projects which I have worked.</p>
      <div class="row project">
        <div class="col-md-6 ">
          <h3><a href="https://www.vincarrier.com/" target="_blank">vinCARRIER</a></h3>
          <b>vinCARRIER is web and mobile app-based Transport Management System (TMS) for UK and US carriers.</b> 
          <ul>
            <li>a Saas web Platform allows OEMs, Dealerships and vehicle Transport companies to manage Loads, Trucks, Drivers.</li>
            <li>Mobile app helps drivers for managing deliveries, logging damages and generating ePOD(electronic proof of delivery).</li>
          </ul>

          <div class="tech-stack">
            <h6>Technologies</h6>
            <ul class="list-group list-group-horizontal">
              <label>Web:</label>
              <li class="list-group-item">C#</li>
              <li class="list-group-item">MVC</li>
              <li class="list-group-item">ServiceStack</li>
              <li class="list-group-item">AngularJS</li>
              <li class="list-group-item">HTML/CSS</li>
              <li class="list-group-item">MSSQL</li>
            </ul>
            <ul class="list-group list-group-horizontal">
              <label>Mobile:</label>
              <li class="list-group-item">Ionic Framework</li>
              <li class="list-group-item">Cordova</li>
              <li class="list-group-item">Angular</li>
              <li class="list-group-item">Typescript</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <a href="https://www.vincarrier.com/" target="_blank">
          <img src="../../assets/images/vincarrier.jpg" class="img-fluid" alt="...">
          </a>
        </div>
      </div>
      <div class="row project">
        <div class="col-md-6">
          <h3><a href="https://www.cardeliverynetwork.com/#vindispatch" target="_blank">vinDISPATCH</a></h3>
          <b>vinDISPATCH is online Marketplace that connects Vehicle Transport Companies and Car Dealerships, OEMS, Auctions to Post, Find and provide vehicle movement service.  </b> 
          <ul>
            <li>OEMs, Car Dealerships and Auction houses can request vehicle Transportation service.</li>
            <li>Vehicle Carriers can quote and accept request.</li>
          </ul>
          <div class="tech-stack">
            <h6>Technologies</h6>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item">C#</li>
              <li class="list-group-item">MVC</li>
              <li class="list-group-item">ServiceStack</li>
              <li class="list-group-item">AngularJS</li>
              <li class="list-group-item">HTML/CSS</li>
              <li class="list-group-item">MSSQL</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <a href="https://www.cardeliverynetwork.com/#vindispatch" target="_blank">
            <img src="../../assets/images/vindispatch.jpg" class="img-fluid" alt="...">
          </a>
          
        </div>
      </div>
      <div class="row project">
        <div class="col-md-6" >
          <h3><a href="https://play.google.com/store/apps/details?id=com.exerwise.ai" target="_blank">Exerwise fitness coach</a></h3>
          <b>The Mobile application for android provides real-time exercise tracking with the help of smartphone's camera
            that analyse performed workout technique and gives real-time feedback on performance. </b>
         <ul>
          <li>This is my side project which I built from scratch being curious about AI & love for fitness.</li>
          <li> App uses PoseNet movement recognition technology running on Tensorflow an advanced machine learning library to give real-time feedback on workout
            performance.</li>
          <li>It counts repetitions during workouts, provides audio feedback on your exercise execution and also can save workout and provide statistics to track progress.</li>
        </ul> 
        <div class="tech-stack">
          <h6>Technologies</h6>
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item">Ionic</li>
            <li class="list-group-item">Cordova</li>
            <li class="list-group-item">Tensorflow.js</li>
            <li class="list-group-item">AndroidSDK</li>
            <li class="list-group-item">Firebase</li>
            <li class="list-group-item">Angular</li>
          </ul>
        </div>
        </div>
        <div class="col-md-6" id="app-img">
          <a href="https://play.google.com/store/apps/details?id=com.exerwise.ai" target="_blank">
            <img src="../../assets/images/exerwise_login.jpg" class="img-fluid" alt="...">
            <img src="../../assets/images/exerwise_home.jpg" class="img-fluid" alt="...">
            <img src="../../assets/images/exerwise_saved_stats.jpg" class="img-fluid" alt="...">
            <img src="../../assets/images/exerwise_detail.jpg" class="img-fluid" alt="..."> 
          </a>
        </div>
      </div>
      <div class="row project">
        <div class="col-md-6">
          <h3><a href="https://screenhitstv.com/" target="_blank">ScreenhitsTv.com</a></h3>
          <b>ScreenHits TV is the central hub of television streaming. which allows consumers to discover a high volume of
            television content through streaming services all in one place.
          </b>
          <ul>
            <li>Developed screenhits B2C and B2B web platforms using both front-end and back-end technology in azure cloud
              computing environment </li>
            <li>was responsible for content management infrastructure and integration to Samsung Smart TV app as well as working
              closely with content delivery network services for maintaining optimal global website performance and user
              experience. </li>
          </ul>
          <div class="tech-stack">
            <h6>Technologies</h6>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item">C#/ASP.net</li>
              <li class="list-group-item">MVC</li>
              <li class="list-group-item">Jquery</li>
              <li class="list-group-item">Ajax</li>
              <li class="list-group-item">MSSQL</li>
              <li class="list-group-item">Azure</li>
              <li class="list-group-item">HTML/CSS</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <a href="https://screenhitstv.com/" target="_blank">
            <img src="../../assets/images/screenhitstv.jpg" class="img-fluid" alt="...">
          </a>
        </div>
      </div>
    </div>
 <!-- Contact me section-->
    <div class="col-md-12" id="contactme">
      <h3>CONTACT ME</h3>
      <h5>Get in touch</h5>
      <h5>
        <span class="badge"><span>
            <a href="https://github.com/sagarthapa9" target="_blank"><img src="../../assets/images/github64.png" />
            </a></span></span>
        <span class="badge"><span>
            <a href="https://www.linkedin.com/in/sagar-thapa-3b081542/" target="_blank"><img
                src="../../assets/images/linkedin1.png" />
            </a></span></span>
        <label><span class="material-icons icon">
            mail_outline
          </span>: sagarthapa_9@yahoo.com</label>
      </h5>
    </div>
</div>
<footer class="mt-auto text-white-50 bg-dark">
  <p> Copyright &copy; <a href="https://sagarthapa.co.uk" class="text-white">Sagar Thapa</a> 2022</p>
</footer>