<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
  
      <h2>Who I am</h2>
      <p>  "Hello I am Sagar Thapa; I am a developer and designer currently residing in Oxford . I am currently looking for opportunity to enhance my programming,
        analytical, creative and problem solving skills and pursue my career in the competitive world of web based application development."</p>
    </div>
    <div class="col-md-4">
      <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
  
      <h2>What I do</h2>
      <p>I love to create and build websites using front-end and .net technologies for developing state of art web applications
        with minute details and presicion.</p>
      <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
    </div>
    <div class="col-md-4">
      <!-- <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg> -->
  
      <h2>What I love </h2>
      <p>I am passionate about learning innovative and creative technologies.
        I thrive on understanding new concepts and ideas in order to enhance my skills.</p>
      <!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
    </div>
  </div>
</div>

